
{% extends "base.html" %}

{% block title %}
VYBE — Профіль
{% endblock %}

{% block content %}

<section class="profile-page">

    <div class="profile-container">

        <div class="profile-header">

            <p class="hero-small">
                VYBE ACCOUNT
            </p>

            <h1>
                Мій профіль
            </h1>

            <p>
                Інформація про ваш акаунт.
            </p>

        </div>

        <div class="profile-card">

            <div class="profile-row">

                <span>
                    Ім'я
                </span>

                <strong>
                    {{ username }}
                </strong>

            </div>

            <div class="profile-row">

                <span>
                    Email
                </span>

                <strong>
                    {{ email }}
                </strong>

            </div>

        </div>

        <div class="profile-actions">

            <a
                href="{{ url_for('orders') }}"
                class="button"
            >
                Мої замовлення
            </a>

            <a
                href="{{ url_for('menu') }}"
                class="button button-light"
            >
                Перейти до меню
            </a>

        </div>

    </div>

</section>

{% endblock %}